.glass-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1px 30px;
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.1);
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.header-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #00ffff;
  font-family: monospace;
  font-size: 20px;
  user-select: none;
  margin: 10px 0;
}

.logo .highlight {
  color: #2196f3;
}

.nav-menu {
  display: flex;
  gap: 30px;
}

.nav-menu a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #00ffff;
  transition: width 0.3s;
}

.nav-menu a:hover::after,
.nav-menu a.active::after {
  width: 100%;
}

.nav-menu a:hover,
.nav-menu a.active {
  color: #00ffff;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  color: #00ffff;
  cursor: pointer;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    gap: 15px;
    margin-right: 100px;
  }

  .nav-menu.open {
    display: flex;
  }
}
